@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.animate_fadeIn {
  animation: fadeInAnimation 100ms 1;
}

.animate_fadeOut {
  animation: fadeOutAnimation 100ms 1;
}

@keyframes floatInAnimation {
  0% { bottom: -100%  }
  100% {  bottom: 0 }
}

@keyframes floatOutAnimation {
  0% { bottom: 0 }
  100% { bottom: -100% }
}

@keyframes floatInRightAnimation {
  0% { right: -100% }
  100% { right: 0 }
}

@keyframes floatOutRightAnimation {
  0% { right: 0 }
  100% { right: -100% }
}

@keyframes floatInLeftAnimation {
  0% { left: -100% }
  100% { left: 0 }
}

@keyframes floatOutLeftAnimation {
  0% { left: 0 }
  100% { left: -100% }
}